---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Acreca de">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dignissimos at sit, ullam dolorem, doloremque sunt modi tempore obcaecati iste repellat aliquid corrupti odio ratione et distinctio alias cumque? Modi cumque totam ut. Maxime doloribus officiis accusamus labore dolor quos ut, dicta error quidem corrupti doloremque exercitationem numquam ab fugit nisi harum! Molestias, quae sapiente consectetur laudantium nam libero, recusandae inventore neque amet aperiam quos temporibus sint asperiores suscipit fugiat maiores! Accusamus doloribus accusantium eius laborum adipisci, alias pariatur, magni natus cum dolores incidunt illo debitis deleniti sapiente. Sit dolor rem officia porro minus voluptas quod a neque. Nostrum, quod.</p>
</Layout>